In [42]:
import pandas as pd
from datetime import datetime
import calendar
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.svm import SVR

In [2]:
df = pd.read_csv("C:/Users/Asus/Desktop/calls.csv")

In [3]:
df.head()

   actual_call_id      date  skill_id  time  actual_call
0               1  1/1/2014         1     0            1
1               2  1/1/2014         1    30            3
2               3  1/1/2014         1   100            1
3               4  1/1/2014         1   130            2
4               5  1/1/2014         1   200            0

In [4]:
def getDayOfWeeks(datetime_str):
    datetime_object = datetime.strptime(datetime_str, '%d/%m/%Y')
    return calendar.day_name[datetime_object.weekday()]

In [5]:
df['dow'] = df['date'].apply(getDayOfWeeks)

In [6]:
df.head()

   actual_call_id      date  skill_id  time  actual_call        dow
0               1  1/1/2014         1     0            1  Wednesday
1               2  1/1/2014         1    30            3  Wednesday
2               3  1/1/2014         1   100            1  Wednesday
3               4  1/1/2014         1   130            2  Wednesday
4               5  1/1/2014         1   200            0  Wednesday

In [7]:
df['skill_id']  = df['skill_id'].astype(str)
df['time']  = df['time'].astype(str)

In [8]:
df1 = df[['skill_id','dow','time', 'actual_call']]

In [9]:
df2 = pd.get_dummies(df1[['skill_id','dow','time']])

In [10]:
df2['actual_call'] = df1['actual_call']

In [11]:
df2.head()

,skill_id_1,skill_id_11,skill_id_119,skill_id_120,skill_id_121,skill_id_13,skill_id_130,skill_id_131,skill_id_132,skill_id_135,...,time_530,time_600,time_630,time_700,time_730,time_800,time_830,time_900,time_930,actual_call
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
X = pd.DataFrame(df2.drop(['actual_call'], axis=1))
for c in X.columns:
    X[c] = X[c].astype(int)

In [36]:
y =  pd.DataFrame(df2['actual_call'])

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [65]:
clf = LinearRegression()
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [66]:
y_pred = clf.predict(X_test)

In [67]:
rmse = sqrt(mean_squared_error(y_test, y_pred) )

In [68]:
print(rmse)

7.699929380762228

In [69]:
clf2 = Ridge(alpha=.9)
clf2.fit(X_train,y_train)

Ridge(alpha=0.9, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [70]:
y_pred2 = clf2.predict(X_test)

In [71]:
rmse2 = sqrt(mean_squared_error(y_test, y_pred2) )

In [72]:
print(rmse2)

7.699924143200031